*{
margin: 0;
padding: 0;
direction: rtl;

}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav{
background-color: #444;
height: 60px;
position: relative;
}

.material-symbols-outlined{
    display: block;
   color: #efefef;
   float: right;
   margin: 15px 80px 15px 30px;
   cursor: pointer;
}
.navbar {
    background-color: #444;
    color: #fff;
    padding: 3px 10px 3px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* الزر الخاص بالقائمة (في اليمين) */
.menu-toggle {
    background: none;
    border: none;
    margin-right: 60px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* الشعار */
.logo img {
    height: 35px;
    margin-right: -240px;
}

/* التصنيفات */

.categories a {
    margin-right: -510px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.categories a img {
    height: 20px;
    width: 25px;
    margin-left: 5px;
}

/* الأزرار */
.navbar-actions {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.icon-btn {
    margin-right: 10px;
}

.icon-btn img {
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #e4e1e1;
    padding: 5px 10px;
    font-size: 18px;
    margin-right: 10px;
}

.login-btn img,
.register-btn img {
    height: 16px;
    margin-left: 5px;
padding: 7px;
}

.login-btn {
margin-right: 40px;
margin-left: 15px;
}
.btn:hover {
    background-color: #555;
}


.logo{
    display: block;
max-height: 30px;
float: right;
margin: 15px 0px 15px 30px;
width: 140px;
height:200px;

}

.navtext{
color: #efefef;
float: right;
margin: 20px 0px 15px 15px;
font-size: 20px;
font-weight: 50%;
}


/* bodysection */
.imgbg{
    padding: 150px 0px 0px 0px;
    background-image: url(./images/hero2.jpg);
    background-repeat: no-repeat;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;
}
.text1{
    text-align: center;
    margin-top: -280px;
margin-bottom: 40px;
font-weight: lighter;
font-size: 48px;
}

.text2{
    text-align: center;
    margin-bottom: 50px;
    color: #545454;
    font-size: 20px;
}


.search-container {
    display: flex;
    align-items: center;
    width: 48%;
    background-color: #fff;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none; 
    outline: none;
}

.search-button {
    text-align: center;
    background-color: #52b035; /* لون الزر */
    color: #fff !important;
    border: none;
    padding: 20px 20px 20px 20px ;
    margin:7px  8px 7px 8px;
    cursor: pointer;
    font-size: 16px;
}
.search-button:hover {
    background-color: #468f30; /* تغيير لون الخلفية عند الهوفر */
    color: #ffffff !important; /* تغيير لون النص عند الهوفر */
}
.small-cards{
    display: flex;
    gap: 10px;
    margin-right:-105px ;
    margin-top: 15px;
}
.box{
    background-color: #ffffff;
   border-color: #ccc;
   font-size: 20px;
    color: #555555 !important;
    padding: 7px;
}
.box:hover {
    background-color: #52b035; /* تغيير لون الخلفية عند الهوفر */
    border-color: #888; /* تغيير لون الحدود عند الهوفر */
    color: #ffffff !important; /* تغيير لون النص عند الهوفر */
    transform: scale(1.05); /* تكبير العنصر بنسبة 5% */
}
.boxe{
   
   
   font-size: 20px;
    color: #000000 !important;
    padding: 7px;
}
.text3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 600px ;
    font-size: 40px;
}
.divof{
    /* margin-top: 120px; */
    margin-bottom: 60px;
}

/* cards */
.cards-container{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr)); /* توزيع الكروت بشكل مرن */
    gap: 25px; 
    margin: 70px;
}
.card1 {
    background-image: url(./images/development-bb416454cb6338d96f266211eb8d2e10fc669ddb8470ee95eef00c841df903e8.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    /* filter: brightness(70%); */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
 .pd{
    z-index: 2;
}
.card-overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #000000;
}
.card2 {
    background-image: url(./images/social-5598c2401b6ca90eda3df7c69c8c4727dcc937f8cc995096456d8a8773f4d324.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* margin-right: 10px; */
}
.card3 {
    background-image: url(./images/translate-ad-ad754e21fea72c69a11e1000903e1f848812bc20e3f1033d6e44f15c249dcd61.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* margin-right: 23px; */
}

.card4 {
    background-image: url(./images/design-17881dc3ab0928311acc42761ff77c7e9a09e077c326fbc5d373e4fe1b5ad397.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* margin-right: 23px; */
}


.card5 {
    background-image: url(./images/audio-93508fbd03c4ca1a20eabc10ecbf7924161d61e7139878bc93641c310d195e13.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* margin-right: 23px; */
}

.card6 {
    background-image: url(./images/bussiness-2c1f54b0bd848ce232a972323a799f3abe75235eb4f00fb0180d4ede6ac390dd.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */

    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* margin-right: 23px; */
}
.card7 {
    background-image: url(./images/engineering-3338ff435ee9031dc4736fab60521d51325e8585ab5c5d304a9a6547695d9333.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */

    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

}
.card8 {
    background-image: url(./images/video-9b7fb5a1ae97544b32573e1625c5b12bb86e5fff9abfe4ae5ba7371ea86c41ae.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

}
.card9 {
    background-image: url(./images/artificial_intelligence-1f69dcddff1b94a358d22f6f913b9f2f69afccc1f74e960b1db639dca802b95e.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */

    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* margin-right: 23px; */
}
.card10 {
    background-image: url(./images/lifestyle-cafda8f023c4cfc9dec868d2eb5eeab6d68f00db618d63bd4c67920187d25c6a.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* margin-right: 23px; */
}
.card11 {
    background-image: url(./images/data-fc397c958d17a83f911c2750e8137c16998937339910bffa8ec779f493ac5217.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */

    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

}
.card12 {
    background-image: url(./images/remote-64132428314c98f2e8abe5e4b98b3a03f215fdd04788b533f52171026fb30d70.jpg);
    background-size: cover; /* تجعل الصورة تغطي الكارد بالكامل */
    background-position: center; /* تركز الصورة في منتصف الكارد */
    background-repeat: no-repeat; /* تمنع تكرار الصورة */
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

}

.pd{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: lighter;
    color: #fff;

}

/* services section */

.services{
    background-color:#F1F1F1; 
    padding:110px 20px 70px 20px ;
    margin-bottom: 100px;
}

.common{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: lighter;
}
.services-cards{

   
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr)); /* توزيع الكروت بشكل مرن */
    gap: 20px; 
    margin: 50px 80px  0px 50px;
}
.ser-cards{
    width: 300px;
    height: 80px;
    display: flex;
   /* justify-content: center; */
    align-items: center; 
    padding-right: 20px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 22px;
    color: #222222;
}
.icon-card{
    width: 40px;
    height: 45px;
    padding-left: 15px;
    }

/* video section */
.action h2{
    text-align: center;
    font-weight:normal ;
    font-size: 36px;
    color: #222222;
}
.video-section {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 80px 80px 80px;
}

.video-container {
    flex: 1;
    max-width: 560px;
    background-image: url(https://i.ytimg.com/vi_webp/RfXGMXHQvYk/sddefault.webp);
}

.description {
    flex: 1;
}

.description h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.description ul {
    list-style-type: none;
    padding: 0;
}

.description li {
    font-weight:normal;
    font-size: 25px;
   color: #545454;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.description li span {
    color: green;
    margin-left: 8px;
    font-size: 25px;
}

.description p {
    font-size: 18px;
    color: #555;
    margin: 15px 30px 10px 0;
}

/* why section */


.why{
    background-color:#F1F1F1; 
    padding:110px 20px 70px 20px ;
}

.icon-cardw{
    width: 80px;
    /* height: 50px; */
    padding-bottom: 20px;
    }
.whykh{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #222222;
    font-weight: lighter;
padding-bottom:25px;
}
.why-cards{

   
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* توزيع الكروت بشكل مرن */
    gap: 20px; 
    row-gap: 160px;
    margin: 50px 0px  100px 40px;
}
.wh-cards{
    width: 500px;
    height: 80px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #4f5b68;
}

.wh-cards h4{
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 20px;
}
.wh-cards p{
    font-size: 19px;
}
/* rating */
.featured-services h2 {
    /* text-align: right; */

    margin: 20px 10px 25px 0px;
    color: #4f5b68;
    font-size: 27px;
    font-weight: normal;
}

.featured-services {

    margin: 0 auto;
    padding: 50px 60px 20px 60px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    direction: ltr;
}

.service-card {
    width: 330px;
    height: 350px;
    /* justify-content: center;
    align-items: center; */
    cursor: pointer;
    /* text-align: center; */
}



/* .imgcard{
     width:400px;
     height: 200px;
     width: 100%;
     height: 150px;
     object-fit: cover;
} */
/* .overlay-ser{
    background-image: url();
    z-index: 2;
    position: absolute;
} */

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-card h3 {
    line-height: 35px;
    font-size: 18px;
    /* margin: 10px; */
    color: #4f5b68;
    padding-right: 5px;

}

.service-card p {
    font-size: 14px;
    color: #4f5b68;
    margin: 5px 0;
    padding-right: 5px;

}

.rating {
    margin: 10px 0;
    font-size: 14px;
    color: #4f5b68;
    padding-right: 5px;

}

.price {
    margin: 10px 0;
    font-weight: bold;
    color: #4f5b68;
    padding-right: 5px;

}

.price span {
    color: #4f5b68;
}

/* solutions */
.solutions-container{
    text-align: center;
    background-color:#F1F1F1; 
    padding:110px 20px 70px 20px ;
    margin-bottom: 100px;
}

.solutions-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* display: grid;
    grid-template-columns: repeat(7, minmax(200px, 1fr)); توزيع الكروت بشكل مرن */
    /* gap: 15px;  */
    margin: 50px 80px  0px 80px;
}
.solutions-card{
    width: 155px;
    height: 50px;
    display: flex;
   justify-content: center;
    align-items: center; 
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 20px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 16px;
    color: #4f5b68;
}
.complete{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
    font-weight:normal;
    padding-bottom: 30px;
    color: #4f5b68;

}

 /* common questions */
 .faq-container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

.faq-container h2 {
    text-align: center;
    font-size: 37px;
    margin-bottom: 20px;
    color: #222222;
    font-weight: normal;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-question {
    background: none;
    border: none;
    width: 100%;
    text-align: right;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
}

.faq-question:hover {
    background-color: #f0f0f0;
}

.faq-answer {
    display: none;
    text-align: right;
    padding: 10px 15px;
    font-size: 45px;
    color: #212529;
}

/* footer */
.footer {
    /* background-color: #f9f9f9; */
    color: #333;
    padding: 20px 0;
}

.footer-top {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 70px 0 30px;
}

.footer-top h2 {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: normal;
}

.footer-top .btn-register {
    background-color: #4caf50;
    color: #fff;
    border: none;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.footer-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:50px ;
    gap: 50px;
    border-top: 1px solid #ddd;
}

.footer-column {
    flex: 1;
    margin: 0 15px;
    min-width: 200px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
    columns: #1b1c1d;
    font-weight: normal;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #4f5b68;
    text-decoration: none;
    font-size: 18px;
}

.footer-column ul li a:hover {
    text-decoration: none;
}

.social-icons img, .payment-icons img {
    width: 35px;
    margin: 5px;
    display: inline-block;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    /* margin-right: 70px; */
    font-size: 15px;
    color: #555;
    background-color: #F1F1F1;
    display: flex;
    gap: 25px;
    font-weight: 500;
    padding: 30px 70px 30px 30px;

}
.copywrite{
margin-right: 800px;
direction: ltr;

}

.footer-links {
    text-align: center;
    padding: 40px 20px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.footer-links h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.footer-links p {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.links-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    gap: 20px;

}

.link-item {
    text-align: right;
    width: 175px;
}

.link-item h3 {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: normal;
    color: #000000;
}

.link-item p {
    font-size: 15px;
    color: #555;
    margin: 0;
}



.hsoub-logo{
    width: 130px;
    margin-bottom: 30px;
}